body {
    background-color: lightgray;
       }
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslateblue;
    color: lightgray;
    text-align: center;
 }
 .navbar {
    background-color: darkslateblue;
    colo
 }
 .navbar-brand {
    color: white;
    border-radius: 25px;
    background-color: orange;
    padding: 10px 10px 10px 10px;
    margin: -8px"
 }
 .nav-link {
    margin: 5px;
    border-right: 1px solid black;"
 }
 #name {
     color: white;
 }
 #currentDay {
    color: yellow;
 }
 .container-fluid {
   border-radius: 25px;
 }
 p {
   color: navy;
   text-indent: 30px;
   text-decoration: darkslategray;
 }